html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #efefef;
}

#fin{
    color:green;
    text-align: center;
    float:right;
}

header{
    background-color: #364522 ;
    color: white;
    padding: 3rem 2rem ;
}

header h1{
    font-size: 2rem;
    text-align: center;
}

.container{
    width: 400px;
    margin:0 auto;  
}

section article{
    /* amimar all=todas, en vex de box-shadow */
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}
section article:hover{
    /*          der abaj difuminacion color */
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0, 0.5);
}

section article h2, section article p{
    margin: 1rem;
}

footer{
    background-color: #222;
    padding: 3rem;
    color:#fff;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    transition: color 0.3s ease;
    color:#fff;
    text-decoration: none;
}

footer a:hover{
    color:cornflowerblue;
}